@media (prefers-color-scheme: dark) {
  .adm-page-indicator{
    --adm-color-primary: #0059da;
  }

  :root{
    --close-btn-color: white;
    --desc-color:white;
  }
}

@media (prefers-color-scheme: light) {
  :root{
    --close-btn-color: #111;
    --desc-color: #333;
  }
  .adm-page-indicator{
    --adm-color-primary: #000000;
    
  }
}

.screen-container{
  --min-width: 90vw;
  .adm-page-indicator{
    --dot-size: 9px;
    --dot-border-radius: 9px;
    --dot-spacing: 12px;
    --active-dot-size: 9px;
  }
  .adm-center-popup-close{
    color: var(--close-btn-color);
    font-weight: bold;
  }
  .adm-image-tip{
    min-height: 200px;
  }
}
.screen-title{
  font-size: 22px;
  color: var(--close-btn-color);
  padding: 20px 0;
  text-align: center;
  font-weight: bold;
}
.apply-btn{
  margin-top: 20px;
}
.screen-content{
  padding:0 20px 30px;
}
.item-desc{
  text-align: center;
  font-size: 16px;
  line-height: 23px;
  color: var(--desc-color);
  white-space: pre-wrap;
}
.image-box{
  height: 250px;
  padding-bottom: 20px;
}
@media screen and (max-width:321px){
  
  .image-box{
    height: 210px;
  }
}